{% extends "layout.html" %}

{% block body %}
<h1>Hakkımızda</h1>
<hr>
Okulumuz 22.04.2023 tarihinde kurulmuş olup Elazığ ilinde yer almaktadır. Tıp Fakültesi, Mühendislik Fakültesi, Mimarlık Fakültesi vb. fakültelerle öğrencilerine kaliteli bir eğitim sunmayı amaçlamaktadır.
<hr>
<br><br><br>
<h3>MİSYONUMUZ</h3>
<hr>
Ulusal ve Uluslarası düzeyde
faaliyet gösteren, akademik kurum 
olma hedefi ile ülkemizin istikbali 
ve istikrarı için araştıran ve üreten,
dünyadaki gelişmeleri yakın takibi ile;
bilim, teknoloji ve sanat alanında yaratıcı,
eleştirel düşünmeyi destekleyerek mevcut imkanları
ile gerçekleştirdiği yeniliklerle insanlığa ve doğaya
katkı sağlamak üniversitemizin öncelikli misyonudur.
<hr>
<br><br><br>
<h3>VİZYONUMUZ</h3>
<hr>
Yüklendiği sorumluluğun bilincinde olan,
ülkemizin beklentileri ve hedefleri doğrultusunda,
sonuç odaklı bilimsel akademik ve uluslarası alanda 
araştırmalarla, bilgi ve yeteneklerini insanlık ve ülke
yararına kullanan, yerelden evrensele evrenselden yerele 
farkındalık oluşturarak geleceğe yön veren yenilikçi bir
üniversite olmaktır.
<hr>
{% endblock%}