{% extends "layout.html" %}

{% block body %}
<h1>Akademik Takvim</h1>
<hr>
<table class="table">
    <thead class = "thead-light">
        <tr>
            <th scope = "col">Güz Yarıyılı</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
        <thead class="thead-dark">
      <tr>
       <th scope="col"></th>
       <th scope="col"></th>
       <th scope="col">Başlangıç Tarihi</th>
       <th scope="col">Bitiş Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Yatay Geçiş Başvuruları</th>
        <td></td>
        <td>YÖK'ün Belirleyeceği</td>
        <td>Tarih Aralığında</td>
      </tr>
      <tr>
        <th scope="row">Merkezi Puanla Yatay Geçiş Başvuruları</th>
        <td></td>
        <td>01.08.2022</td>
        <td>15.08.2022</td>
      </tr>
      <tr>
        <th scope="row">Özel Öğrenci Başvuruları (Güz Yarıyılı Gelenler İçin Son Gün)</th>
        <td></td>
        <td></td>
        <td>09.09.2022</td>
      </tr>
      <tr>
        <th scope="row">Merkezi Puanla Yatay Geçiş Başvurularının İlgili Kurullarda Kesinleşmesi</th>
        <td></td>
        <td></td>
        <td>31.08.2022</td>
      </tr>
      <tr>
        <th scope="row">Üniversitemizi Yeni Kazananların Kesin Kayıtları(e-devlet,yüz yüze)</th>
        <td></td>
        <td>ÖSYM Tarafından</td>
        <td>Belirlenecek</td>
      </tr>
    </tbody>
    <thead class="thead-dark">
        <tr>
         <th scope="col">GÜZ YARIYILI YENİ KAYIT-KAYIT YENİLEME-EKLE SİL</th>
         <th scope="col"></th>
         <th scope="col">Başlangıç Tarihi</th>
         <th scope="col">Bitiş Tarihi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Derslerin İlgili Kurullarda Kesinleştirilerek Onaylanması</th>
            <td></td>
            <td>05.09.2022</td>
            <td>16.09.2022</td>
          </tr>
          <tr>
            <th scope="row">Güz Yarıyılında Açılan Derslerin İlanı</th>
            <td></td>
            <td></td>
            <td>16.09.2022</td>
          </tr>
          <tr>
            <th scope="row">Yeni Öğrencilerin Akademik Danışmanlarının Atanması</th>
            <td></td>
            <td>12.09.2022</td>
            <td>14.09.2022</td>
          </tr>
          <tr>
            <th scope="row">Katkı Payı ve İkinci Öğretim Ödeme Süresi (Normal öğretimde okuyan azami süreye girmiş öğrenciler katkı payı öder.)</th>
            <td></td>
            <td>16.09.2022</td>
            <td>23.09.2022</td>
          </tr>
          <tr>
            <th scope = "row" >Kayıt Yenileme ve Derse Yazılımlar</th>
            <td></td>
            <td>19.09.2022</td>
            <td>23.09.2022</td>
          </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
         <th scope="col">GÜZ YARIYILI DERSLERİNİN BAŞLAMASI/BİTİŞİ</th>
         <th scope="col"></th>
         <th scope="col">26.09.2022</th>
         <th scope="col">06.01.2023</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Temel Bilgisayar Dersi Yeterlilik Sınavı</th>
            <td></td>
            <td></td>
            <td>06.10.2022</td>
          </tr>
          <tr>
            <th scope="row">Yabancı Dil Dersi Yeterlilik Sınavı</th>
            <td></td>
            <td></td>
            <td>07.10.2022</td>
          </tr>
          <tr>
            <th scope="row">Danışman Onayı</th>
            <td></td>
            <td>19.09.2022</td>
            <td>25.09.2022</td>
          </tr>
          <tr>
            <th scope="row">Ders Ekleme-Silme Süresi</th>
            <td></td>
            <td>26.09.2022</td>
            <td>28.09.2022</td>
          </tr>
          <tr>
            <th scope="row">Diğer Yükseköğretim Kurumlarında Başardıkları Derslerden Muafiyet İçin Başvurunun Son Günü</th>
            <td></td>
            <td></td>
            <td>07.10.2022</td>
          </tr>
          <tr>
            <th scope="row">İntibak Kararlarının Öğrenci İşlerine Gönderilmesinin Son Günü</th>
            <td></td>
            <td></td>
            <td>12.10.2022</td>
          </tr>
          <tr>
            <th scope="row">Mazeretli Olarak Derse Yazılımın Son Günü (Yönetim Kurulu Kararı İle)</th>
            <td></td>
            <td></td>
            <td>21.10.2022</td>
          </tr>
          <tr>
            <th scope="row">Ara Sınav Haftası</th>
            <td></td>
            <td>19.11.2022</td>
            <td>27.11.2022</td>
          </tr>
          <tr>
            <th scope="row">Yabancı Dil Dersi Yeterlilik Sınavı</th>
            <td></td>
            <td></td>
            <td>07.10.2022</td>
          </tr>
          <tr>
            <th scope="row">Güz Yarıyılı Sonu Sınavları</th>
            <td></td>
            <td>09.01.2023</td>
            <td>22.01.2023</td>
          </tr>
          <tr>
            <th scope="row">Yarıyıl Sonu Sınav Sonuçlarının Öğrenci Otomasyon Sistemine Girilmesinin Son Günü</th>
            <td></td>
            <td></td>
            <td>25.01.2023</td>
          </tr>
          <tr>
            <th scope="row">Bütünleme Sınavları</th>
            <td></td>
            <td>30.01.2023</td>
            <td>05.02.2023</td>
          </tr>
          <tr>
            <th scope="row">Bütünleme Sınav Sonuçlarının Öğrenci Otomasyon Sistemine Girilmesinin Son Günü</th>
            <td></td>
            <td></td>
            <td>07.02.2023</td>
          </tr>
          <tr>
            <th scope="row">Tek Ders Sınavları</th>
            <td></td>
            <td>09.02.2023</td>
            <td>10.02.2023</td>
          </tr>
      </tbody>
  </table>
  <br><br><br>
  <table class = "table">
    <thead class = "thead-light">
        <tr>
            <th scope = "col">Bahar Yarıyılı</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <thead class="thead-dark">
        <tr>
         <th scope="col"></th>
         <th scope="col"></th>
         <th scope="col"></th>
         <th scope="col">Bitiş Tarihi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">Özel Öğrenci Başvuruları (Bahar Yarıyılı Gelenler İçin Son Gün)</th>
            <td></td>
            <td></td>
            <td>27.01.2023</td>
          </tr>
          <tr>
            <th scope="row">Yatay Geçiş Başvuruları (Bahar Yarıyılı)</th>
            <td></td>
            <td>YÖK'ün Belirleyeceği</td>
            <td>Tarih Aralığında</td>
          </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
         <th scope="col">BAHAR YARIYILI İLK KAYIT-KAYIT YENİLEME-EKLE SİL</th>
         <th scope="col"></th>
         <th scope="col">Başlangıç Tarihi</th>
         <th scope="col">Bitiş Tarihi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="col">Derslerin İlgili Kurullarda Kesinleştirilerek Onaylanması</th>
            <th scope="col"></th>
            <th scope="col">23.01.2023</th>
            <th scope="col">27.01.2023</th>
           </tr>
           <tr>
            <th scope="col">Seçmeli Ders Kontenjanlarının Bölümlerce İnteraktif Kaydedilmesi</th>
            <th scope="col"></th>
            <th scope="col">23.01.2023</th>
            <th scope="col">27.01.2023</th>
           </tr>
           <tr>
            <th scope="col">Bahar Yarıyılında Açılan Derslerin İlanı</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">03.02.2023</th>
           </tr>
           <tr>
            <th scope="col">Katkı Payı ve İkinci Öğretim Ödeme Süresi (Normal öğretimde okuyan azami süreye girmiş öğrenciler katkı payı öder.)</th>
            <th scope="col"></th>
            <th scope="col">03.02.2023</th>
            <th scope="col">10.02.2023</th>
           </tr>
           <tr>
            <th scope="col">Kayıt Yenileme ve Ders Yazılımları</th>
            <th scope="col"></th>
            <th scope="col">06.02.2023</th>
            <th scope="col">10.02.2023</th>
           </tr>
           <tr>
            <th scope="col">Danışman Onayı</th>
            <th scope="col"></th>
            <th scope="col">03.02.2023</th>
            <th scope="col">10.02.2023</th>
           </tr>
      </tbody>
      <thead class="thead-dark">
        <tr>
         <th scope="col">BAHAR YARIYILI DERSLERİNİN BAŞLAMASI/BİTİŞİ</th>
         <th scope="col"></th>
         <th scope="col">13.02.2023</th>
         <th scope="col">26.05.2023</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="col">Ders Ekleme-Silme Süresi</th>
            <th scope="col"></th>
            <th scope="col">13.02.2023</th>
            <th scope="col">15.02.2023</th>
           </tr>
           <tr>
            <th scope="col">Mazeretli Olarak Derse Yazılımın Son Günü (Yönetim Kurulu Kararı İle)</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">10.03.2023</th>
           </tr>
           <tr>
            <th scope="col">Temel Bilgisayar Dersi Yeterlilik Sınavı</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">24.02.2023</th>
           </tr>
           <tr>
            <th scope="col">Ara Sınav Haftası</th>
            <th scope="col"></th>
            <th scope="col">08.04.2023</th>
            <th scope="col">16.04.2023</th>
           </tr>
           <tr>
            <th scope="col">Bahar Yarıyılı Sonu Sınavları</th>
            <th scope="col"></th>
            <th scope="col">29.05.2023</th>
            <th scope="col">11.06.2023</th>
           </tr>
           <tr>
            <th scope="col">Yarıyıl Sonu Sınav Sonuçlarının Öğrenci Otomasyon Sistemine Girilmesinin Son Günü</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">14.06.2023</th>
           </tr>
           <tr>
            <th scope="col">Bütünleme Sınavları</th>
            <th scope="col"></th>
            <th scope="col">19.06.2023</th>
            <th scope="col">25.06.2023</th>
           </tr>
           <tr>
            <th scope="col">Bütünleme Sınav Sonuçlarının Öğrenci Otomasyon Sistemine Girilmesinin Son Günü</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">28.06.2023</th>
           </tr>
           <tr>
            <th scope="col">Tek Ders (mezuniyet) Sınavları</th>
            <th scope="col"></th>
            <th scope="col">05.07.2023</th>
            <th scope="col">06.07.2023</th>
           </tr>
           <tr>
            <th scope="col">1. Ek Sınav (Azami Öğrenim Süresini Dolduran Öğrenciler İçin)</th>
            <th scope="col"></th>
            <th scope="col">2023-2024 eğitim-öğretim yılı başlamadan</th>
            <th scope="col">ilgili birimler tarafından belirlenecektir.</th>
           </tr>
           <tr>
            <th scope="col">2. Ek Sınav (Azami Öğrenim Süresini Dolduran Öğrenciler İçin)</th>
            <th scope="col"></th>
            <th scope="col">2023-2024 eğitim-öğretim yılı başlamadan</th>
            <th scope="col">ilgili birimler tarafından belirlenecektir.</th>
           </tr>
      </tbody>
  </table>
{% endblock %}