{% extends "layout.html" %}

{% block body %}
<h1>Sınav Takvimi</h1>
<hr>
<table class = "table">
    <thead class = "thead-dark">
          <tr>
              <th scope = "col">GÜZ DÖNEMİ  VİZE SINAV TAKVİMİ</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
          </tr>
      </thead>
          <thead>
        <tr class = "bg-info">
        <th scope="col">Tarih</th>
         <th scope="col">Saat</th>
         <th scope="col">Dersin Adı</th>
         <th scope="col">Sınav Salonu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>21.11.2022 - Pazartesi</td>
          <td>10:00</td>
          <td>(YAZM101) Matematik I</td>
          <td>Amfi 3, Derslik 1</td>
        </tr>
        <tr>
          <td>21.11.2022 - Pazartesi </td>
          <td>11:05</td>
          <td>(YAZM209) Nesne Tabanlı Programlama</td>
          <td>Amfi 3</td>
        </tr>
        <tr>
          <td>21.11.2022 - Pazartesi </td>
          <td>13:00</td>
          <td>(YAZM315) Python Programlama</td>
          <td>Amfi 3</td>
        </tr>
        <tr>
            <td>22.11.2022 - Salı</td>
            <td>09:00</td>
            <td>(YAZM107) Genel Fizik Laboratuvarı I</td>
            <td>Amfi 3</td>
          </tr>     
          <tr>
            <td>22.11.2022 - Salı</td>
            <td>10:00</td>
            <td>(YAZM201) Diferansiyel Denklemler</td>
            <td>Amfi 3</td>
          </tr>     
          <tr>
            <td>22.11.2022 - Salı</td>
            <td>13:00</td>
            <td>(YAZM105) Genel Fizik I </td>
            <td>Amfi 3</td>
          </tr>     
          <tr>
            <td>22.11.2022 - Salı</td>
            <td>15:00</td>
            <td>(YAZM305) Veritabanı Yönetim Sistemleri </td>
            <td>Amfi 3</td>
          </tr>     
          <tr>
            <td>23.11.2022 - Çarşamba</td>
            <td>09:00</td>
            <td>Üniversite Seçmeli Dersi </td>
            <td>NOT 2*</td>
          </tr>     
          <tr>
            <td>23.11.2022 - Çarşamba</td>
            <td>09:00</td>
            <td>(TDB101) Türk Dili I</td>
            <td>Amfi 3</td>
          </tr>     
          <tr>
            <td>23.11.2022 - Çarşamba</td>
            <td>10:00</td>
            <td>(YAZM205) Lineer Cebir</td>
            <td>Amfi 3</td>
          </tr>     
          <tr>
            <td>23.11.2022 - Çarşamba</td>
            <td>13:00</td>
            <td>(AİİT202) Atatürk İlkeleri ve İnkılap Tarihi I</td>
            <td>Amfi 3</td>
          </tr>

          <tr>
            <td>23.11.2022 - Çarşamba</td>
            <td>13:45</td>
            <td>(YAZM103) Genel Kimya</td>
            <td>Amfi 3</td>
          </tr>      
          <tr>
            <td>23.11.2022 - Çarşamba</td>
            <td>15:00</td>
            <td>(İNG101) İngilizce I </td>
            <td>Amfi 3</td>
          </tr>      
          <tr>
            <td>24.11.2022 - Perşembe</td>
            <td>10:00</td>
            <td>(YAZM109) Algoritma ve Programlama I</td>
            <td>Amfi 3, Derslik</td>
          </tr>
          <tr>
            <td>24.11.2022 - Perşembe</td>
            <td>11:30</td>
            <td>(YAZM211) Ayrık Yapılar</td>
            <td>Amfi 3</td>
          </tr>
          <tr>
            <td>24.11.2022 - Perşembe</td>
            <td>13:00</td>
            <td>(YAZM309) Biçimsel Diller ve Otomata Teorisi</td>
            <td>Amfi 3</td>
          </tr>
          <tr>
            <td>24.11.2022 - Perşembe</td>
            <td>14:15</td>
            <td>(YAZM203) Bilgisayar Destekli Teknik Resim </td>
            <td>Amfi 3</td>
          </tr>
          <tr>
            <td>25.11.2022 - Cuma</td>
            <td>09:00</td>
            <td>(YAZM111) Bilgisayar Bilimlerine Giriş</td>
            <td>Amfi 3, Derslik 3</td>
          </tr>
          <tr>
            <td>25.11.2022 - Cuma</td>
            <td>10:05</td>
            <td>(YAZM207) Sayısal Tasarım</td>
            <td>Amfi 3</td>
          </tr> 
          <tr>
            <td>25.11.2022 - Cuma</td>
            <td>11:10</td>
            <td>(YAZM307) Algoritma Analizi</td>
            <td>Amfi 3</td>
          </tr> 
          <tr>
            <td>25.11.2022 - Cuma</td>
            <td>13:00</td>
            <td>(YAZM303) Yazılım Tasarımı ve Mimarisi</td>
            <td>Amfi 3</td>
          </tr>
          <tr class="bg-info">
            <td>Not 1 : Amfi - 3 Rektörlük binası </td>
            <td>giriş katındadır.</td>
            <td> Derslik 1 ve Derslik 3 Sivil Havacılık</td>
            <td> binasındadır.</td>
          </tr>
          <tr class="bg-info">
            <td>Not 2 : Üniversite Seçmeli Derslerinin sınav salonları  </td>
            <td> dersin sorumlu </td>
            <td> öğretim üyesi tarafından</td>
            <td>bildirilecektir.</td>
          </tr>
          <tr class="bg-info">
            <td>TÜM</td>
            <td>SINAVLAR</td>
            <td>YÜZ YÜZE</td>
            <td>GERÇEKLEŞTİRİLECEKTİR.</td>
          </tr>
      </tbody>
      </table>
      <br><br><br>


      
      <table class = "table">
        <thead class = "thead-dark">
              <tr>
                  <th scope = "col">GÜZ DÖNEMİ FİNAL </th>
                  <th scope="col">SINAV </th>
                  <th scope="col">TAKVİMİ</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
              </tr>
          </thead>
              <thead>
            <tr class = "bg-info">
            <th scope="col">Tarih</th>
             <th scope="col">Saat</th>
             <th scope="col">Dersin Adı</th>
             <th scope="col">Sorumlu Öğretim Elemanı</th>
             <th scope="col">Salon</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>09.01.2023 - Pazartesi</td>
              <td>09:30</td>
              <td>(YAZM211) Ayrık Yapılar</td>
              <td>Dr. Öğr. Üyesi Harun BİNGÖL</td>
              <td>Amfi - 3</td>
            </tr>
            <tr>
              <td>09.01.2023 - Pazartesi</td>
              <td>11:00</td>
              <td>(YAZM107) Genel Fizik Lab I</td>
              <td>Doç. Dr. Tankut ATEŞ</td>
              <td>Amfi - 3</td>
            </tr>
            <tr>
              <td>09.01.2023 - Pazartesi</td>
              <td>13:00</td>
              <td>(YAZM105) Genel Fizik I</td>
              <td>Doç. Dr. Tankut ATEŞ</td>
              <td>Amfi - 3</td>
            </tr>
            <tr>
                <td>09.01.2023 - Pazartesi</td>
                <td>15:00</td>
                <td>(YAZM309) Biçimsel Diller ve Otomata Teorisi</td>
                <td>Dr. Öğr. Üyesi Harun BİNGÖL</td>
                <td>Amfi - 3</td>
              </tr>     
              <tr>
                <td>10.01.2023 - Salı</td>
                <td>11:00</td>
                <td>(YAZM101) Matematik I</td>
                <td>Dr. Öğr. Üyesi Sezer ERDEM</td>
                <td>Amfi - 3</td>
              </tr>     
              <tr>
                <td>10.01.2023 - Salı</td>
                <td>13:00</td>
                <td>(YAZM201) Diferansiyel Denklemler</td>
                <td>Dr. Öğr. Üyesi Burçin DOĞAN</td>
                <td>Amfi - 3</td>
              </tr>     
              <tr>
                <td>11.01.2023 - Çarşamba</td>
                <td>09:00 </td>
                <td>(TDB101) Türk Dili I</td>
                <td>Dr. Öğr. Üyesi Yılmaz İNCE</td>
                <td>Amfi - 3</td>
              </tr>     
              <tr>
                <td>11.01.2023 - Çarşamba</td>
                <td>10:00</td>
                <td>(YAZM205) Lineer Cebir</td>
                <td>Dr. Öğr. Üyesi Sezer ERDEM</td>
                <td>Amfi - 3</td>
              </tr>     
              <tr>
                <td>11.01.2023 - Çarşamba</td>
                <td>13:00</td>
                <td>(AİİT202) Atatürk İlkeleri ve İnkılap Tarihi</td>
                <td>Dr. Öğr. Üyesi Songül DUMLUPINAR ALİCAN</td>
                <td>Amfi - 3</td>
              </tr>     
              <tr>
                <td>11.01.2023 - Çarşamba</td>
                <td>15:00 </td>
                <td>(İNG101) İngilizce I</td>
                <td>Dr. Öğr. Üyesi Emine KULUŞAKLI</td>
                <td>Amfi - 3</td>
              </tr>     
              <tr>
                <td>12.01.2023 - Perşembe</td>
                <td>13:00</td>
                <td>(YAZM103) Genel Kimya</td>
                <td>Prof. Dr. Ülkü YILMAZ</td>
                <td>Amfi - 3</td>
              </tr>
    
              <tr>
                <td>12.01.2023 - Perşembe</td>
                <td>14:30</td>
                <td>(YAZM203) Bilgisayar Destekli Teknik Resim/td>
                <td>Prof. Dr. Asım BALBAY</td>
                <td>Amfi - 3</td>
              </tr>      
              <tr>
                <td>13.01.2023 - Cuma</td>
                <td>11:00</td>
                <td>(YAZM111) Bilgisayar Bilimlerine Giriş</td>
                <td>Dr. Öğr. Üyesi Canan BATUR ŞAHİN</td>
                <td>Amfi - 3</td>
              </tr>      
              <tr>
                <td>13.01.2023 - Cuma</td>
                <td>13:00</td>
                <td>(YAZM207) Sayısal Tasarım</td>
                <td>Dr. Öğr. Üyesi Canan BATUR ŞAHİN</td>
                <td>Amfi - 3</td>
              </tr>
              <tr>
                <td>13.01.2023 - Cuma</td>
                <td>14:30</td>
                <td>(YAZM307) Algoritma Analizi</td>
                <td>Dr. Öğr. Üyesi Canan BATUR ŞAHİN</td>
                <td>Amfi - 3</td>
              </tr>
              <tr>
                <td>13.01.2023 - Cuma</td>
                <td>16:00</td>
                <td>(YAZM303) Yazılım Tasarımı ve Mimarisi</td>
                <td>Dr. Öğr. Üyesi Canan BATUR ŞAHİN</td>
                <td>Amfi - 3</td>
              </tr>
              <tr>
                <td>16.01.2023 - Pazartesi</td>
                <td>11:00</td>
                <td>(YAZM109) Algoritma ve Programlama I</td>
                <td>Dr. Öğr. Üyesi Serpil ASLAN</td>
                <td>Amfi - 3</td>
              </tr>
              <tr>
                <td>16.01.2023 - Pazartesi</td>
                <td>13:00</td>
                <td>(YAZM 209) Nesne Tabanlı Programlama</td>
                <td>Dr. Öğr. Üyesi Serpil ASLAN</td>
                <td>Amfi - 3</td>
              </tr>
              <tr>
                <td>16.01.2023 - Pazartesi</td>
                <td>14:30</td>
                <td>(YAZM315) Python Programlama</td>
                <td>Dr. Öğr. Üyesi Serpil ASLAN</td>
                <td>Amfi - 3</td>
              </tr> 
              <tr>
                <td>17.01.2023 - Salı</td>
                <td>13:00</td>
                <td>(YAZM305) Veritabanı Yönetim Sistemleri</td>
                <td>Dr. Öğr. Üyesi Harun BİNGÖL</td>
                <td>Amfi - 3</td>
              </tr> 
              <tr>
                <td>18.01.2023 - Çarşamba</td>
                <td>10:00</td>
                <td>Üniversite Sosyal Seçmeli</td>
                <td>--</td>
                <td>*Not-1</td>
              </tr>
              <tr class="bg-info">
                <td>Not 1 : Amfi - 3 Rektörlük binası </td>
                <td>giriş katındadır.</td>
                <td> Derslik 1 ve Derslik 3 Sivil Havacılık</td>
                <td> binasındadır.</td>
                <td></td>
              </tr>
          </tbody>
          </table>
{% endblock %}