{% extends "layout.html" %}

{% block body %}
<h1>Ders Programı</h1>
<hr>
<table class = "table">
  <thead class = "thead-light">
        <tr>
            <th scope = "col">Pazartesi</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
        <thead class="thead-dark">
      <tr>
       <th scope="col">Saat</th>
       <th scope="col">Ders</th>
       <th scope="col">Derslik</th>
       <th scope="col">Öğretim Elemanı</th>
       <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>13:00-13:45</td>
        <td>Matematik I</td>
        <td>AZ-1[999]</td>
        <td>Prof. Dr. Celal Kartoğlu</td>
      </tr>
      <tr>
        <td>13:55-14:40</td>
        <td>Matematik I</td>
        <td>AZ-1[999]</td>
        <td>Prof. Dr. Celal Kartoğlu</td>
      </tr>
      <tr>
        <td>14:50-15:35</td>
        <td>Matematik I</td>
        <td>AZ-1[999]</td>
        <td>Prof. Dr. Celal Kartoğlu</td>
      </tr>
    </tbody>
    <thead class = "thead-light">
        <tr>
            <th scope = "col">Salı</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
        <thead class="thead-dark">
      <tr>
       <th scope="col">Saat</th>
       <th scope="col">Ders</th>
       <th scope="col">Derslik</th>
       <th scope="col">Öğretim Elemanı</th>
       <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>09:25-10:10</td>
        <td>Bilgisayar Bilimlerine Giriş</td>
        <td>AZ - 4[99]</td>
        <td>Dr. Öğr. Üyesi CENGİZ HARK</td>
      </tr>
      <tr>
        <td>10:20-11:05</td>
        <td>Bilgisayar Bilimlerine Giriş</td>
        <td>AZ - 4[99]</td>
        <td>Dr. Öğr. Üyesi CENGİZ HARK</td>
      </tr>
      <tr>
        <td>11:15-12:00</td>
        <td>Bilgisayar Bilimlerine Giriş</td>
        <td>AZ - 4[99]</td>
        <td>Dr. Öğr. Üyesi CENGİZ HARK</td>
      </tr>
      <tr>
        <td>13:00-13:45</td>
        <td>Genel Fizik Laboratuvarı I</td>
        <td>YAZM107-2020[99]</td>
        <td>Doç. Dr. TANKUT ATEŞ</td>
      </tr>
      <tr>
        <td>13:55-14:40</td>
        <td>Genel Fizik Laboratuvarı I</td>
        <td>YAZM107-2020[99]</td>
        <td>Doç. Dr. TANKUT ATEŞ</td>
      </tr>
      <tr>
        <td>14:50-15:35</td>
        <td>Genel Fizik Laboratuvarı I</td>
        <td>YAZM107-2020[99]</td>
        <td>Doç. Dr. TANKUT ATEŞ</td>
      </tr>
      <tr>
        <td>15:45-16:30</td>
        <td>Genel Fizik Laboratuvarı I</td>
        <td>YAZM107-2020[99]</td>
        <td>Doç. Dr. TANKUT ATEŞ</td>
      </tr>
    </tbody>
    <thead class = "thead-light">
        <tr>
            <th scope = "col">Çarşamba</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
        <thead class="thead-dark">
      <tr>
       <th scope="col">Saat</th>
       <th scope="col">Ders</th>
       <th scope="col">Derslik</th>
       <th scope="col">Öğretim Elemanı</th>
       <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>13:00-13:45</td>
        <td>Genel Kimya</td>
        <td>AZ-1[999]</td>
        <td>Prof. Dr. ÜLKÜ YILMAZ</td>
      </tr>
      <tr>
        <td>13:55-14:40</td>
        <td>Genel Kimya</td>
        <td>AZ-1[999]</td>
        <td>Prof. Dr. ÜLKÜ YILMAZ</td>
      </tr>
      <tr>
        <td>14:50-15:35</td>
        <td>Genel Kimya</td>
        <td>AZ-1[999]</td>
        <td>Prof. Dr. ÜLKÜ YILMAZ</td>
      </tr>
    </tbody>
    <thead class = "thead-light">
        <tr>
            <th scope = "col">Perşembe</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
        <thead class="thead-dark">
      <tr>
       <th scope="col">Saat</th>
       <th scope="col">Ders</th>
       <th scope="col">Derslik</th>
       <th scope="col">Öğretim Elemanı</th>
       <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:30-09:15</td>
        <td>Genel Fizik I</td>
        <td>AZ-1[999]</td>
        <td>Doç. Dr. TANKUT ATEŞ</td>
      </tr>
      <tr>
        <td>09:25-10:10</td>
        <td>Genel Fizik I</td>
        <td>AZ-1[999]</td>
        <td>Doç. Dr. TANKUT ATEŞ</td>
      </tr>
      <tr>
        <td>10:20-11:05</td>
        <td>Genel Fizik I</td>
        <td>AZ-1[999]</td>
        <td>Doç. Dr. TANKUT ATEŞ</td>
      </tr>
      <tr>
        <td>11:15-12:00</td>
        <td>Genel Fizik I</td>
        <td>AZ-1[999]</td>
        <td>Doç. Dr. TANKUT ATEŞ</td>
      </tr>
    </tbody>
    <thead class = "thead-light">
        <tr>
            <th scope = "col">Cuma</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
        <thead class="thead-dark">
      <tr>
       <th scope="col">Saat</th>
       <th scope="col">Ders</th>
       <th scope="col">Derslik</th>
       <th scope="col">Öğretim Elemanı</th>
       <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10:00-10:45</td>
        <td>Türk Dili I</td>
        <td>UE-YAZ1[99]</td>
        <td>Dr. Öğr. Üyesi YILMAZ İNCE</td>
      </tr>
      <tr>
        <td>10:55-11:40</td>
        <td>Türk Dili I</td>
        <td>UE-YAZ1[99]</td>
        <td>Dr. Öğr. Üyesi YILMAZ İNCE</td>
      </tr>
      <tr>
        <td>13:00-13:45</td>
        <td>Algoritma ve Proglamlama I</td>
        <td>AZ-1[999]</td>
        <td>Dr. Öğr. Üyesi CENGİZ HARK</td>
      </tr>
      <tr>
        <td>13:55-14:40</td>
        <td>Algoritma ve Proglamlama I</td>
        <td>AZ-1[999]</td>
        <td>Dr. Öğr. Üyesi CENGİZ HARK</td>
      </tr>
      <tr>
        <td>14:50-15:35</td>
        <td>Algoritma ve Proglamlama I</td>
        <td>AZ-1[999]</td>
        <td>Dr. Öğr. Üyesi CENGİZ HARK</td>
      </tr>
      <tr>
        <td>15:45-16:30</td>
        <td>Algoritma ve Proglamlama I</td>
        <td>AZ-1[999]</td>
        <td>Dr. Öğr. Üyesi CENGİZ HARK</td>
      </tr>
      <tr>
        <td>16:40-17:25</td>
        <td>Algoritma ve Proglamlama I</td>
        <td>AZ-1[999]</td>
        <td>Dr. Öğr. Üyesi CENGİZ HARK</td>
      </tr>
    </tbody>
</table>


{% endblock%}